
.wrapper {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-size: 80px;
  color: #000;
  font-family: MyriadPro, sans-serif;
  text-decoration: none;
}
.blue-part-logo {
  color: #4bcaff;
}

.header-menu {
  display: flex;
  list-style-type: none;
  justify-content: center;
  background-color: #35444f;
  font-size: 24px;
  padding-left: 0%;
}

.header-menu :hover {
  background-color: #222f3a;
}

.menu-item {
  border-right: 1px solid #fff;
  padding: 20px;
}

.menu-item:first-child {
  border-left: 1px solid #fff;
}

.header-item-link {
  text-decoration: none;
  color: #fff;
  font-family: Roboto;
}

.nav-bar-container {
  width: 344px;
  border: 1px solid #000;
  list-style-type: none;
  margin-right: 52px;
}

.left-nav-bar {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-bar-item {
  padding-top: 16px;
  padding-bottom: 22px;
  padding-left: 42px;
 
}

.nav-bar-item:hover {
  background-color: #dbdbdb;
  padding-left: 50px;
}

.main-container {
  display: flex;
  align-items: flex-start;
}

.nav-bar-link {
  text-decoration: none;
  font-size: 27px;
  font-family: Roboto;
  color: #495863;
}

.border-image {
  display: flex;
  width: 885px;
  height: 529px;
  border: 1px solid #000;
}

.image {
  margin: auto;
}

.text-container {
  display: flex;
  flex-direction: column;
  width: 885px;
  margin-left: auto;
  margin-top: 19px;
}

.paragraph {
  font-family: Roboto;
  font-size: 18px;
  color: #2c2c2c;
}

.footer-container {
  padding-top: 2px;
  padding-bottom: 2px;
  
  background-color: rgba(99, 105, 110, 0.48);
  margin-top: 36px;
}

.footer-item {
  list-style-type: none;
  display: inline-block;
  padding-right: 25px;
}

.footer-link {
  text-decoration: none;
  font-family: Roboto;
  font-size: 28px;
  color: #0c1927;
}

.footer-link:hover {
  color: #3181a6;
  border-bottom: 2px solid #3181a6;
  padding-bottom: 10px;
}


.copyright {
  display: inline-block;
  text-align: right;
  font-family: Roboto;
  font-size: 24px;
  list-style-type: none;
  color: #010101;
  padding-left: 60px;
  
}
